.member
  %h2.member__top 電話番号の確認
  .member__bottom
    = form_with(model: @user, class: "form-box", id: 'phone-form') do |f|
      .form-box__width
        .form-box__label 携帯電話の番号
        = f.telephone_field :phone_number, class: 'form-box__input', placeholder:" 電話番号の電話を入力" 
      %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      .last__box
        .last__boxes SMSを送信する
        %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .last__box-sms
          = link_to "電話番号の確認が必要な理由 ＞", class: "last__box-sms2"
        %button.next#user-submit 次へ進む
= render 'items/footer-buy'
