= render '/users/header_progress'
.gray-background
  .Done
    .Done__top
      %p.Done__text 会員登録完了
    .Done__bottoms
      ありがとうございます。会員登録が完了しました。
      .form-box
        .lob__box4
          .lob__box4-next
          = link_to "メルカリをはじめる" ,root_path, class:"lob__box4-next"
= render 'items/footer-buy'