.header-reg
  %h1
    = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1278822302",class: "log__item"), '/'
  .header-reg__container
    %ul.progressbar
      %li.active
        会員情報
        .progressbar-status#first
      %li
        電話番号認証
        .progressbar-status
      %li 
        お届け先住所入力
        .progressbar-status
      %li 
        お支払い方法
        .progressbar-status
      %li 
        完了
        .progressbar-status#last
        