.body
  .main
    .main__top
      %p.main__text 新規会員登録
    .main__bottom
      .main__box
        .main__item
          .main__item--black
            メールアドレスで登録

      .main__box
        .main__item.main__item--a
          facebookで登録
      .main__box
        .main__item.main__item--aa
          Googleで登録
