.gray-background
    .user-page
        .mypage
            = render 'sidebar'
            .mypage__wrap
                .mypage__wrap-top
                    = image_tag "", class: :"mypage__image"
                    .h2#name 名前
                    .maypage__wrap-number
                        .h2#valuation 評価数
                        %span.num 0
                        .h2#exhibit 出品数
                        %span.num 0
                .mypage-tab-notification
                    .mypage-tab-container
                        %ul.mypage-tab-container__tabs
                            %li.tab
                                %h3 お知らせ
                            %li.tab
                                %h3 やることリスト
                    .mypage-notification
                        %ul.mypage-notification__data
                            %li.mypage-notification__data__list
                                =image_tag "", class: :"mypage-notification__data__list-image"
                                .mypage-notification__data__list__detail
                                    .mypage-notification__data__list__detail-text 事務局から個別メッセージ
                                    .mypage-notification__data__list__detail-time
                                        %i.icon
                                        %span １６時間前
                                    %i.icon-var
                    .notification-contain
                        .notification-contain__btn
                            .notification-contain__btn__text 一覧を見る
                    // やること起動
                    //      .mypage-tab-notification.hidden
                    //          .mypage-tab-container
                    //              %ul.mypage-tabs
                    //                  %li.tab
                    //                  %h3 お知らせ
                    //              %li.tab
                    //                  %h3 やることリスト
                    //          .mypage-purchase__content
                    //              %ul.mypage-purchase__content__data.hidden
                    //                  %li.mypage-purchase__content__data-detail 現在やることはありません
        .mypage-purchase
            %h2.mypage-purchase__title 購入した商品
                
        .mypage-purchase-container1
            %ul.mypage-purchase-tabs
                %li.mypage-purchase-tabs__trade
                    %h3 取引中
                %li.mypage-purchase-tabs__traded
                    %h3 過去の取引
            .mypage-purchase__content
                %ul.mypage-purchase-content__data
                    %li.mypage-purchase-content__data-detail 取引中の商品がありません
        

                        
                    
