.gray-background
    .user-page
        .user-page__content
            .credit__title クレジットカード情報登録
            //= form_with url: credits_path, class: "credit__content__card-form", local: true do |f|
            .credit__content    
                %input{name: "__csrf_value", type: "hidden", value: ""}/
                .credit__content__card-form
                    .credit__content__card-form__group
                    %label カード番号
                    %span.credit__content__card-form__icon 必須
                    
