.body
  .header
    .header__logo44
      = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1278822302",class: "logo__item44")
    .header__container
      %ul.progressbar
        %li.active 会員情報
        %li 電話番号認証
        %li お届け先住所入力
        %li お支払い方法
        %li 完了

  .Member
    .Member__top
      %p.Member__text 会員情報入力
    .Member__bottom
      .form-box
        .form-box__width
          %p.form-box__label ニックネーム
          %span.form-box__label-req 必須
          .form-box__input 例)メルカリ太郎
        .form-box__width
          %p.form-box__label メールアドレス
          %span.form-box__label-req 必須
          .form-box__input PC・携帯どちらでも可
        .form-box__text
          .form-box__text--a 本人確認
          .form-box__text--b
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .form-box__width
          %p.form-box__label 姓 (全角)
          %span.form-box__label-req 必須
          .form-box__input 例）山田
        .form-box__width
          %p.form-box__label 名 (全角)
          %span.form-box__label-req 必須
          .form-box__input 例）彩
        .form-box__width
          %p.form-box__label 姓カナ (全角)
          %span.form-box__label-req 必須
          .form-box__input 例）ヤマダ
        .form-box__width
          %p.form-box__label 名カナ (全角）
          %span.form-box__label-req 必須
          .form-box__input 例）アヤ
        .form-box__width
          %p.form-box__label001 生年月日
          %span.form-box__label-req001 必須
          .aa 年
          .form-box__input01 --
          .aa 月
          .form-box__input01 --
          .aa 日
          .form-box__input01 --
          %p.form-box__text001 ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

        .lob__form--box000
          .lob__box0
            .lob__box0--wr0
            %span わたしはロボットではありません。
          = image_tag("https://www.gstatic.com/recaptcha/api2/logo_48.png",class: "logo__item")
          %div
            .lob__next
              「次へ進む」のボタンを押すことにより、
              %a 利用規約
              に同意したものとみなします
        .lob__box
          .lob__box-er0 次へ進む
