

.gray-background
    .user-page
        .user-page__content
            .user-profile
                .user-profile__title
                    %h2.user-profile__title__text プロフィール
                .user-profile__background
                    .user-profile__background__image
                        =image_tag "https://static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", class: :"user-profile__background__image-figure"
                        %input{ type: "text", name: "", placeholder: "naoto", class: :"user-profile__background__image-var" }
                .user-profile__content
                    %textarea{ type: "text", placeholder: "test test test", name: "", class: :"user-profile__content-textarea"}
                .user-profile__btn
                    %a{href: "",class: "user-profile__btn-change"} 変更する
        = render 'sidebar'