.gray-background{
    .user-page{
        .item-listing-box{
            margin:40px auto 0;
            padding: 30px 40px 40px;
            box-sizing:border-box;
            background-color: #fff;
            width:700px;
            &__change{
                line-height: 50px;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                margin: 16px 0 16px 0;
                background: $red;
                border: 1px solid $red;
                color: $white;
            }
            &__which{
                text-align: center;
                font-size: 15px;
            }
            &__stop{
                line-height: 50px;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                margin: 16px 0 16px 0;
                background: #aaa;
                border: 1px solid #aaa;
                color: $white;
                cursor: pointer;
            }
            &__delete{
                line-height: 50px;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                margin: 16px 0 16px 0;
                background: #aaa;
                border: 1px solid #aaa;
                color: $white;
                cursor: pointer;
            }
        }
    }
}