.main{
    display: block;
    width: 700px;
    margin: 0 auto;
    background: $white;
    .l__single-container {
        &-head {
            padding: 32px 16px;
            font-size: 22px;
            text-align: center;
            line-height: 1.5;
            border-bottom: solid 1px $border-gray;
        }
        .sell__upload__boxes {
            box-sizing: border-box;
            width: 620px;
            padding: 40px;
            .sell__upload__boxes-head {
                display: block;
                font-size: 14px;
                float: left;
                font-weight: bold;
            }

            .sell__dropbox__container {
                width: 620px;
                margin: 16px auto 0;
                display: flex;
                .sell__upload__items__container {
                    display: flex;
                    .sell__upload__item {
                        width: 116px;
                        margin: 0 10px 10px 0;
                        border: 1px solid #eee;
                        vertical-align: top;
                        display: inline-block !important;
                        &:first-child {
                        margin-left: 0px;
                        }
                        .sell__upload__figure {
                            line-height: 116px;
                            width: auto;
                            padding: 0;
                            margin: 0;
                            height: 116px;
                            background-color: $body-gray;
                            align-items: center;
                            img {
                                transform: none;
                                vertical-align: middle;
                            }
                        }
                        .sell__upload__button {
                            text-align: center;
                            a {
                                font-size: 16px;
                                width: 50%;
                                background-color: $body-gray;
                                line-height: 44px;
                                text-align: center;
                                color: $blue;
                                text-decoration: none;
                                touch-action: manipulation;
                                &:last-child {
                                border-left: 1px solid #eee;
                                }
                            }
                        }
                    }
                }
                .sell__upload__drop-box {
                    display: block;
                    position: relative;
                    height: 162px;
                    background-color: $body-gray;
                    border: 1px dashed #ccc;
                    font-size: 0;
                    text-align: center;
                    cursor: pointer;
                    transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
                    input {
                        display: none;
                        touch-action: manipulation;
                    }
                    .visible__pc {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        display: block;
                        text-align: center;
                        font-size: 14px;
                        line-height: 1.5;
                        transform: translate(0, -50%);
                        pointer-events: none;
                        white-space: pre-wrap;
                        word-wrap: break-word;
                        overflow: auto;
                        padding: 15px;
                        z-index: 9999;
                    }
                }
                .have__item-0 {
                    width: 100%;
                    margin-left: 0;
                }
                .have__item-1 {
                    width: 491px;
                    display: none;
                }
                .have__item-2 {
                    width: 363px;
                    display: none;
                }
                .have__item-3 {
                    width: 234px;
                    display: none;
                }
                .have__item-4 {
                    width: 106px;
                    display: none;
                .visible__pc {
                    height:140px;
                    vertical-align: middle;
                    line-height:normal;
                    display: inline-block;
                    text-align: center;
                    font-size: 14px;
                    line-height: 1.5;
                    transform: translate(0, -50%);
                    pointer-events: none;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    overflow: auto;
                    padding: 15px;
                }
            }
        }
    }
}
    .form__required {
        background: $red;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: $white;
        font-size: 12px;
        vertical-align: top;
    }
    .sell-contents{
        border-top: 1px solid $border-gray;
        padding: 40px 0;
        .form-group{
            padding: 20px 0 0;
            border: 0;
            label{
                font-weight: 600;
                padding-left: 35px;
            }
            .input-name{
                margin: 8px 0 0 0;
                height: 30px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: solid 1px #ccc;
                background: #fff;
                line-height: 1.5;
                outline: 0;
                margin: 0 35px;
                width: 600px;
            }
            .textarea-default{
                margin: 0 35px;
                font-size: 16px;
                width: 90%;
                height: 150px;
                border: solid 1px $key-gray;
            }
        }
    }
    .sell-content1, .sell-content2, .sell-content3 {
        padding: 40px;
        border-top: 1px solid $border-gray;
    }
    .sell-content1:after, .sell-content2:after, .sell-content3:after{
        content: '';
        clear: both;
        display: block;
    }
        .sell-form-box1, .sell-form-box2, .sell-form-box3{
            float: right;
            width: 400px;
            margin: 0;
        }
        .sell-form-box3:after{
            content: '';
            clear: both;
            display: block;
        }
        .form-groups {
            margin: 40px 0 0;
            label {
                font-weight: 600;
                display: inline-block;
            }
            .select-wrap {
                position: relative;
                margin: 8px 0 0;
                background-color: $white;
                select {
                    width: 100%;
                    position: relative;
                    height: 48px;
                    padding: 0 16px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: 0;
                    font-size: 16px;
                    line-height: 1.5;
                    cursor: pointer;
                }
            }
        }
        .form-group-price{
            overflow: auto;
        }
        .clearfix-2{
            margin: 2px 0 0;
            width: 50%;
            float: left;
        }
        .form-groups:first-child{
            margin: 0;
        }
        
        .sell-content4{
            padding: 40px;
            border-top: 1px solid #eee;
            .btn__default-red {
                display: block;
                width: 560px;
                line-height: 48px;
                font-size: 14px;
                border: 1px solid transparent;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                margin: 40px 40px 0 ;
                background: $red;
                border: 1px solid $red;
                color: $white;
            }
            .btn__default-gray {
                padding: 0;
                display: block;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                border: 1px solid transparent;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                width: 45%;
                margin: 24px auto;
                background: #aaa;
                border: 1px solid #aaa;
                color: $white;
            }
        }
  
    .sell__price {
        list-style: none;
        .sell__price-input{
            float: right;
            width: 50%;
            .input-default {
                text-align: right;
                float: right;
                box-sizing: border-box;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid $key-gray;
                background: $white;
                line-height: 1.5;
                font-size: 16px;
                margin: 0 0 20px;
                font-weight: 200;
                color: $logo-gray;
            }
        }
    }
    
    .l-left {
        float: left;
        width: 50%;
        line-height: 48px;
    }
    .l-right{
        line-height: 48px;
        float: right;
    }
    
    .plce {
        list-style: none;
        padding: 10px 0;
        border-top: 1px solid #ccc;
    }
    .plce:after{
        content: '';
        clear: both;
        display: block;
    }
  
    .sell-sub-head {
        color: $logo-gray;
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    .form__question {
        text-decoration: none;
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #0099e8;
        color: $white;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
    }
        .sell-sub-head {
            float: left;
        }
    }
    