.single-footer{
  background-color: $body-gray;
  position: relative;
  height: 140px;
  padding: 40px 0;
  text-align: center;
  nav{
    ul{
      font-size: 0;
      li:first-child{
        margin: 0;
      }
      li{
        font-size: 12px;
        display: inline-block;
        margin:  0 0 0 16px;
        a{
          display: block;
          color: $ink;
          text-decoration: none;
        }
      }
    }
  }
  .single-footer__logo{
    display: block;
    color: $ink;
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
    text-decoration: none;
    img{
      vertical-align: middle;
      width: 80px;
      height: 65px;
    }
  }
  p{
    margin: 8px 0 0;
    small{
      font-size: 12px;
    }
  }
}
