.header-simple {
    text-align: center;
    height: 100px;
    .logo {
      display: inline-block;
      margin: 40px 0 0;
    }
}
.logos__item {
    display: inline-block;
    margin: 0 auto;
    height: 50px;
    width: 185px;
}
  