html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main, section, ul {
  margin: 0;
  padding: 0;
}

.wrapper{
  background-color: $white;
  display: block;
  .header__banner{
    height: 390px;
    width: 100%;
    overflow: hidden;
    position: relative;
    .top-banner{
      background-image: url("header__banner.png");
      height: 390px;
      width: 100%;
    }
  }
  .boxes{
    padding: 20px 0 0 0;
    background: $body-gray;
    min-height: 100vh;
    height: 1950px;
    &__title{
      font-size: 22px;
      text-align: center;
      line-height: 1.4;
      font-weight: bold;
    }
    .box{
      &__title{
        font-size: 18px;
        margin: 26px 11px;
        text-align: center;
        font-weight: bold;
        a{
          color: $blue;
          text-decoration: none;
          touch-action: manipulation;
        }
      }
      &__content{
        width: 950px;
        margin: 0 auto;
      }
      .view-all{
        margin-left: 200px;
        padding: 0 0 30px;
        text-align: right;
        width: 940px;
        clear: both;
        a{
          color: $blue;
          text-decoration: none;
          touch-action: manipulation;
        }
      }
    }
  }
}
