%section.box__item
  %a{href: ''}
    %figure.box__item__photo
      %img{src: "briefcase.png", alt: "サンプル画像"}
    .box__item__body
      %h3.box__item__body__name
        ビジネスバッグ
      .box__item__body__num
        .box__item__body__num__price
          ¥2,300
        %p.box__item__body__num__tax
          (税込)
