%body
  %main.container-main
    %section.chapter-container
      %h2.chapter-container__head クレジットカード情報入力
      %form#add-card-form.chapter-container__inner{action: "/users/1/cards", method: "POST"}
        %script.payjp-button{type: "text/javascript", src: "https://checkout.pay.jp/", "data-key": "pk_test_3eecf3d0673f33deabf6e3c6"}
