.header-reg {
  margin-bottom: 40px;
  text-align: center;
  background-color: $body-gray;

  h1 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin-top: 40px;
  }
  
  &__container{
    display: inline-block;
    vertical-align: top;
    padding: 40px 0 0 44px;
  }

  .log__item {
    width: 185px;
    height: 49px;
    line-height: 49px;
  }

  .progressbar {
    margin: 0;
    padding: 0;
    bottom: 0px;
    z-index: 0;
    
    li {
      list-style-type: none;
      display: inline-block;
      position: relative;
      font-size: 12px;
      margin-right: 40px;
      text-align: center;
      text-transform: uppercase;
      color: $dark-gray;
      z-index: 1;
      
      .progressbar-status {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: #ccc;
        border-radius: 50%;
      }
      .active {
        color: $red;
        font-weight: 600;
        .progressbar-status {
          background-color: $red;
        }
        .progressbar-status:before{
          background-color: $red;
          color:$white;
        }
        .progressbar-status:after {
        content: '';
        }
      }
      .thlough {
        color: $dark-gray;
        .progressbar-status {
          background-color: $red;
        }
        .progressbar-status:after{
          background-color: $red;
        }
        .progressbar-status:before{
          background-color: $red;
        }
      }
    }
  }
  .progressbar-status:before,
  .progressbar-status:after {
    position: absolute;
    bottom: 5px;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: $border-gray;
    z-index: -1;
  }
  .progressbar-status:before {
    right: 50%;
  }

  .progressbar-status:after {
    left: 50%;
  }
  #last:after{
    content: none;
  }

  #first:before{
    content: none;
  }

  .progressbar li.active {
    color: $red;
    font-weight: 600;
    .progressbar-status {
      background-color: $red;
    }
    .progressbar-status:before{
      background-color: $red;
      color:$white;
    }
    .progressbar-status:after {
    content: '';
    }
  }
  .progressbar li.thlough {
    color: $dark-gray;
    .progressbar-status {
      background-color: $red;
    }
    .progressbar-status:after{
      background-color: $red;
    }
    .progressbar-status:before{
      background-color: $red;
    }
  }
}
