
  .log__item {
    width: 185px;
    height: 49px;
    line-height: 49px;
  }

  p {
    margin: 8px 0 0;
    line-height: 22px;
  }

.member {
  width: 700px;
  margin: 0 auto;
  background: $white;

  &__top {
    padding: 10px 24px;
    font-size: 24px;
    text-align: center;
    h2{
      font-weight: bold;
    }
  }

  &__bottom{
    padding: 40px;
    border-top: 1px solid $body-gray;
    margin: 0;
  }

  .form-box {
    max-width: 320px;
    margin: 0 auto;

    &__width {
      margin: 0;
      input{
        width: 93%;
        margin: 8px 0 0;
        height: 30px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid $key-gray;
        background: $white;
        line-height: 2;
        font-size: 15px;
        color: $dark-grays;
      }
    }

    &__label {
      font-weight: 600;
    }

    &__input {
      margin: 8px 0 0;
      height: 30px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid $key-gray;
      background: $white;
      line-height: 2;
      font-size: 15px;
      color: $dark-grays;
      width: 290px;
    }

    .last__box {
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
      &-sms2{
        text-decoration: none;
        color: #0099e8;
      }
      .next {
        display: inline-block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        cursor: pointer;
        text-align: center;
        background-color: $red;
        border: 1px solid $red;
      }
    }

    .last__boxes {
      margin: 30px 0 0;
      background: $red;
      border: 1px solid $red;
      color: $white;
    }
  }
}
