.logout{
    background-color: #fff;
    height: 180px;
    position: relative;
    margin: 0 auto;
    &__btn{
        display: inline-block;
        width: 320px;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
        background-color: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        text-decoration: none;
        margin: 65px 190px;
    }
}