.body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
  .main {
    width: 700px;
    margin: 0 auto;
    background: #fff;

    &__top {
      padding: 32px 16px;
      font-size: 22px;
    }

    &__text {
      text-align: center;
      font-weight: 700;
    }

    &__bottom {
      padding: 64px;
      border-top: 1px solid #f5f5f5;
      background-repeat: no-repeat;
      margin: 0;
    }

    &__box {
      max-width: 320px;
      margin: 0 auto;
    }

    &__item {
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
      position: relative;
      background: #eee;
      color: #000;
    }

      &__item--black {
        position: relative;
        background: #eee;
        color: #000;
      }

      .main__item--a {
        margin: 16px 0 0;
        background: #385185;
        color: #fff;
      }

      .main__item--aa {
        margin: 16px 0 0;
        border: #979797 solid 1px;
        color: #333;
        background: #fff
      }
  }
