
.log__item {
    width: 200px;
    height: 200px;
}

.logo__item {
  width: 30px;
  height: 30px;
}

.Member {
  width: 700px;
  margin: 0 auto;
  background: $white;

  &__top {
    padding: 32px 16px;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    font-weight: 700;
  }

  &__bottom{
    padding: 64px;
    border-top: 1px solid $body-gray;
    margin: 0;
  }

  .form-box {
    max-width: 320px;
    margin: 0 auto;

    &__width {
      margin: 40px 0 0;
      &--top {
        margin: 0;
      }
      select{
        position: relative;
        z-index: 2;
        height: 48px;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: 0;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        width: 140px;
      }
    }

    &__label {
      font-weight: 600;
      position: relative;
    }

    &__labels {
      font-weight: 600;
      position: relative;
      top: 39px;
    }

    &__label-req {
      background: $red;
      margin-left: 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: $white;
      font-size: 12px;
      vertical-align: top;
      position: relative;
      bottom: 4px;
    }

    .user-form {
      margin: 8px 0 0;
      height: 30px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid $key-gray;
      background: $white;
      line-height: 2;
      font-size: 15px;
      color: $dark-grays;
      width: 290px;
    }

    &__inputs {
      height: 33px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid $key-gray;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
      width: 140px;
    }

    &__texts {
      color: #888;

    }

    .day {
      position: relative;
      left: 150px;
      top: 32px;
      font-size: 15px;
    }
  }

  .form-box__text {
    margin: 35px 0 ;
  }
    .form-box__text-name {
      font-size: 16px;
      font-weight: 600;
      margin: 10px 0 ;
    }

  .lob__forms--box {
    height: 60px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid $key-gray;
    background: $white;
    line-height: 1.5;
    font-size: 16px;
    width: 280px;
    line-height: 30px;
    margin: 1.5em 0px;
    background: #f9f9f9;
  }

    span {
      font-family: Roboto,helvetica,arial,sans-serif;
      font-size: 14px;
      font-weight: 400;
      margin-right: 20px;
      line-height: 17px;
    }

    .lob__item {
      background-size: 32px;
      height: 32px;
      margin-left: 240px;
      width: 32px;
      position: absolute;
      bottom: 245px;
    }

    .lob__next {
      margin-top: 40px;
      font-size: 14px;
      text-align: center;
    }
  
    .next{
      margin: 40px 0 0;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center; 
      background: $red;
      border: 1px solid $red;
      color: $white;
    }

    .lob__box-next {
      margin: 40px 0 0;
      background: $red;
      border: 1px solid $red;
      color: $white;
    }
}
